name: Build and Deploy FastAPI to Azure Container Apps

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3


      - name: Log in to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Log in to Azure Container Registry
        run: az acr login --name rudranshregistry

      - name: Build and push image to ACR
        run: |
          IMAGE_TAG=v1
          docker build -t rudranshregistry.azurecr.io/fastapi-app:$IMAGE_TAG .
          docker push rudranshregistry.azurecr.io/fastapi-app:$IMAGE_TAG

      - name: Deploy to Azure Container App
        run: |
          az containerapp update \
            --name fastapi-app \                # replace with your Container App name
            --resource-group rudranshregistry \ # replace with your resource group
            --image rudranshregistry.azurecr.io/fastapi-app:$IMAGE_TAG
