name: Trigger auto deployment for fastapi-app

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/fastapi-app-AutoDeployTrigger-5f06a388-46a3-4dd7-af4f-da4f5f31d17f.yml'

  # Allow manual trigger 
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.FASTAPIAPP_AZURE_CREDENTIALS }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: rudranshregistry.azurecr.io
          registryUsername: ${{ secrets.FASTAPIAPP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.FASTAPIAPP_REGISTRY_PASSWORD }}
          containerAppName: fastapi-app
          resourceGroup: rudranshregistry
          imageToBuild: rudranshregistry.azurecr.io/fastapi-app:${{ github.sha }}
          
            

     

